.main-content {
    padding: 75px;
    display: flex;
    justify-content: space-between;
}

.main-content-filter {
    margin-top: 7px;
    width: 219px;
}

.main-content-filter h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 50px;
}

.main-content-filter-option {
    margin-top: 30px;
}

.main-content-filter-option h2 {
    font-size: 22px;
    font-weight: 650;
    margin-bottom: 20px;
}

.main-content-filter-option-checkbox {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.main-content-filter-option-checkbox input {
    appearance: none;
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    border-radius: 5px;
}

.main-content-filter-option-checkbox label {
    margin-left: 5px;
    font-size: 18px;
}

.main-content-items {
    max-width: 64.2vw;
}

.main-content-items-item {
    display: flex;
    margin-top: 25px;
}

.main-content-items h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 44px;
}

.main-content-items-item-img img{
    width: 260px;
    height: 150px;
    border: 1px #989898;
}

.main-content-items-item-desc {
    margin-left: 15px;
}

.main-content-items-item-desc-h2 {
    font-size: 16px;
    font-weight: 800;
}

.main-content-items-item-desc-h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.main-content-items-item-desc-p {
    font-size: 10px;
    font-weight: 500;
    color: #777777;
    margin-top: 5px;
}

.main-content-items-item-desc-span {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.main-content-items-item-desc-span-span {
    color: #777777;
    font-size: 10px;
    font-weight: 500;
    margin-left: 2px;
}

.main-content-items-item-desc-specification {
    margin-top: 10px;
}

.main-content-items hr {
    border: 0 0 1px 0 solid #989898;
    margin-top: 25px;
}

.main-content-items-item-price {
    text-align: right;
}

.main-content-items-item-price-p1 {
    font-size: 16px;
    font-weight: 700;
}

.main-content-items-item-price-p2 {
    font-size: 14px;
    color: #777777;
    text-decoration: line-through;
    margin-left: 57px;
}